*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 51px;
}
.image_container{
    text-align: center;
}
@media only screen and (max-width:440px){
    .header{
        /* display: grid; */
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(3,1fr); */
        /* row-gap: 51px; */
    }   
}
@media only screen and (max-width:768px) and (min-width:440px){
    .header{
        /* display: grid; */
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        /* row-gap: 51px; */
    }   
}